.event-show .page-header h2 {
  font-size: 3.2rem;
  line-height: 1.15;
}

.event-show .page-header h2 .icon {
  font-size: 2.4rem;
}

.event-show .page-header h2 .elixir-node-icon--event {
  margin-left: 12px;
}
