<div id="sidebar" class="popout-sidebar">
  <!-- SIDEBAR -->
  <nav class="about-nav">
    <% guides.each do |category_key, category| %>
      <ul class="nav nav-stacked ">
        <li class="about-page-category">
          <a href="#<%= category_key %>" onclick="return guide_sidebar_show_item(this)"><%= category['name'] %></a>
        </li>
        <% category['elements'].each do |elements_key, elements| %>
          <li><a href="<%= elements['url'] %>" target="_blank"><%= elements['name'] %></li>
        <% end %>
      </ul>
    <% end %>
  </nav>
</div>

<script>
    function guide_sidebar_show_item(elementClicked) {
        let allGuideCategories = document.getElementsByClassName('guide_page_category');
        for (let i = 0; i < allGuideCategories.length; i++) {
            allGuideCategories[i].classList.remove('active');
        }

        let targetElementId = elementClicked.getAttribute('href').substring(1);
        let targetElement = document.getElementById(targetElementId);

        if (targetElement) {
            targetElement.classList.add('active');
        }
        return false;
    }
</script>