<div class="container mt-4">
  <h3 style="text-align: Left;"> Our courses </h3>
  <br>
  <p>
    Text
  </p>
  <p>
    More text
  </p>
  <br>
</div>

<div class="container">
    <p> Content </p>
</div>