<div class="container">
  <h3 style="text-align: Left;"> <%= image_tag(asset_path("scilifelab/transfericon-black.png"), alt: "community", size: "30x30") %> Training Community</h3>
  <br>
  <p>We are developing and connecting our community spaces, events, and programs 
  to foster knowledge transfer and networking amongst experts at SciLifeLab.</p>

  <div class="row">
    <br>
    <div class="community-box p-3">
      <%= image_tag(asset_path("scilifelab/traininghub-bookshelf.png"), alt: 'guide', size: '140x140') %>
      <p>
        <b>SciLifeLab Training Hub Drop-in Fika</b>
        <ul>
          <li> Drop by in person at Campus Solna or online everywhere every other week for feedback on training and learning </li>
          <li> Ask about effective seminars, teaching short form courses, training formats, and more! </li>
        </ul>
      </p>
    </div> 
  </div>
  
</div>