#google-map-form {
  position: relative;
  height: 300px;
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.google-map {
  height: 250px;
  width: 400px;
  float: right;
  margin: 0 0 10px 10px;

  @include xs {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}

#report {
  clear: both;
}

#map-loading-screen {
  width: 20%;
  margin-left: 40%;
  padding-top: 100px;
}

.event-info-button-popover + .popover[role = tooltip] {
  margin-right: 20px;
  .arrow {
    left: 90%;
  }
}

#course-interest-toggle {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #666;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

#course-interest-toggle:checked::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #337ab7;
  top: 2px;
  left: 2px;
  border-radius: 50%;
}

@import "events/details/actions";
@import "events/details/layout";
@import "events/details/typography";
@import "events/details/detail_items";
@import "events/details/pills";
@import "events/details/content_providers";
@import "events/details/header";
@import "events/details/responsive";
